<script>
function calc_f1()
{
	input_size = parseInt(document.getElementById("f1_input_size").value);
	kernel_size = parseInt(document.getElementById("f1_input_kernel_size").value);
	padding = parseInt(document.getElementById("f1_input_padding").value);
	stride = parseInt(document.getElementById("f1_input_stride").value);
	// Calculate result
	result = (input_size - kernel_size + 2 * padding)/stride + 1;
	// Round ugly numbers but don't add unnecessary decimal places
	result = parseFloat(result.toFixed(4));

	document.getElementById("f1_output_size").value = result;
}

function calc_f2()
{
    input_size = parseInt(document.getElementById("f2_input_size").value);
    kernel_size = parseInt(document.getElementById("f2_input_kernel_size").value);
    stride = parseInt(document.getElementById("f2_input_stride").value);
    padding_same = document.getElementById("f2_input_padding_same").checked;

    if(padding_same)
    {
        result = Math.ceil(input_size / stride);
        document.getElementById("f2_output_size").value = result ;
    }
    else
    {
        result = Math.ceil((input_size - kernel_size + 1) / stride);
        document.getElementById("f2_output_size").value = result;
    }
}
</script>


    <div class="card card-block">
      <h3 class="card-title">Convolutional Layer Output Size</h3>
      <p class="card-text">
        Calculates the spatial size of the output volume of a convolution kernel.
        <div class="form-horizontal">
            <div class="row">
                <label for="f1_input_size" class="control-label col-xs-4">Input size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f1_input_size"  onkeydown="calc_f1();" placeholder="Input size">
                </div>
            </div>
            <div class="row">
                <label for="f1_input_kernel_size" class="control-label col-xs-4">Kernel size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f1_input_kernel_size"  onkeydown="calc_f1();" placeholder="Kernel size">
                </div>
            </div>
            <div class="row">
                <label for="f1_input_padding" class="control-label col-xs-4">Padding</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f1_input_padding"  onkeydown="calc_f1();" placeholder="Padding">
                </div>
            </div>
            <div class="row">
                <label for="f1_input_stride" class="control-label col-xs-4">Stride</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f1_input_stride"  onkeydown="calc_f1();" value="1">
                </div>
            </div>
            <div class="row">
                <label for="f1_output_size" class="control-label col-xs-4">Output size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f1_output_size"  readonly="true"  onkeydown="calc_f1();" placeholder="Output size">
                </div>
            </div>
        </div>
    </p>
    </div>
    <div class="card card-block">
      <h3 class="card-title">Sonnet Reference</h3>
      <p class="card-text">
        A reference sheet automatically extracted from the Sonnet source code. Not very neat, and very <b>very</b> long<br>
        <a href="?sonnet_ref" class="btn btn-secondary">View Reference Sheet</a>
    </p>
    </div>

    <div class="card card-block">
      <h3 class="card-title">Tensorflow Convolutional Layer Output Size</h3>
      <p class="card-text">
    Does the same as the above for Tensorflow.
        <div class="form-horizontal">
            <div class="row">
                <label for="f2_input_width" class="control-label col-xs-4">Input size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f2_input_size"  onkeydown="calc_f2();" placeholder="Input size">
                </div>
            </div>
            <div class="row">
                <label for="f2_input_kernel_size" class="control-label col-xs-4">Kernel size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f2_input_kernel_size"  onkeydown="calc_f2();" placeholder="Field size">
                </div>
            </div>

            <div class="row">
                <label for="f2_input_stride" class="control-label col-xs-4">Stride</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f2_input_stride"  onkeydown="calc_f2();" value="1">
                </div>
            </div>

            <div class="row">
                <label for="f2_input_padding" class="control-label col-xs-4">Padding type</label>
                <div class="col-xs-3">
                    <input type="radio" checked="true" name="f2_input_padding" id="f2_input_padding_same" onchange="calc_f2();">Same</input>
                </div>
                <div class="col-xs-3">
                    <input type="radio" name="f2_input_padding" id="f2_input_padding_valid" onchange="calc_f2();">Valid</input>
                </div>
            </div>
            <div class="form-group">
                <label for="f2_output_size" class="control-label col-xs-4">Output size</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="f2_output_size"  readonly="true"  onkeydown="calc_f2();" placeholder="Output size">
                </div>
            </div>
        </div>
</div>
