<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}"> {{ site.title }} </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign pages_list = site.sidebar_links %} {% for node in pages_list %}
      {% comment %} Strict equality for root, "contains" matching otherwise {%
      endcomment %}
      <a
        class="sidebar-nav-item{% if (page.url contains node.url and node.url != '/') or (node.url == '/' and page.url == '/') %} active{% endif %}"
        href="{{ node.url }}"
        >{{ node.title }}</a
      >
      {% endfor %}
    </nav>
    {{ site.baseurl }}
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
