<style>
.translation-cell
{
  cursor: pointer;
  color: #286090;
}
#translations
{
    max-width: 85%;
}
@media (min-width: 800px) {
  #translations {
    width: 60%;
  }
}
</style>
  <div class="table-responsive">
<table id="translations" class="table table-striped table-hover table-bordered">
<thead class="thead thead-inverse">
				<tr>
					<th>English</th>
					<th>Spanish</th>
				</tr>
			</thead>
			<tbody>
		<tr>
		<td>Hello</td>
		<td class="translation-cell" onclick=" audio01.play()" data-toggle="tooltip" title="Click to hear">¡Hola</td>
		<audio id="audio01">
			<source src="audiofiles/01-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>How are you? (Singular)</td>
		<td class="translation-cell" onclick="audio02.play()" data-toggle="tooltip" title="Click to hear">¿Cómo estás?</td>
		<audio id="audio02">
			<source src="audiofiles/02-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>How are you? (Group)</td>
		<td class="translation-cell" onclick="audio03.play()" data-toggle="tooltip" title="Click to hear">¿Cómo están?</td>
		<audio id="audio03">
			<source src="audiofiles/03-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>I'm well, thanks</td>
		<td class="translation-cell" onclick="audio04.play()" data-toggle="tooltip" title="Click to hear">Bien gracias</td>
		<audio id="audio04">
			<source src="audiofiles/04-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>What's your name?</td>
		<td class="translation-cell" onclick="audio05.play()" data-toggle="tooltip" title="Click to hear">¿Cómo te llamas?</td>
		<audio id="audio05">
			<source src="audiofiles/05-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>My name is ...</td>
		<td class="translation-cell" onclick="audio06.play()" data-toggle="tooltip" title="Click to hear">Me llamo ...</td>
		<audio id="audio06">
			<source src="audiofiles/06-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Where are you from?</td>
		<td class="translation-cell" onclick="audio07.play()" data-toggle="tooltip" title="Click to hear">¿De dónde eres?</td>
		<audio id="audio07">
			<source src="audiofiles/07-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>I'm from Australia</td>
		<td class="translation-cell" onclick="audio08.play()" data-toggle="tooltip" title="Click to hear">Soy de Australia</td>
		<audio id="audio08">
			<source src="audiofiles/08-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Pleased to meet you</td>
		<td class="translation-cell" onclick="audio09.play()" data-toggle="tooltip" title="Click to hear">Mucho gusto</td>
		<audio id="audio09">
			<source src="audiofiles/09-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Likewise (response to "mucho gusto")</td>
		<td class="translation-cell" onclick="audio10.play()" data-toggle="tooltip" title="Click to hear">Igualmente</td>
		<audio id="audio10">
			<source src="audiofiles/10-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Good morning </td>
		<td class="translation-cell" onclick="audio11.play()" data-toggle="tooltip" title="Click to hear">Buenos días</td>
		<audio id="audio11">
			<source src="audiofiles/11-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Good afternoon </td>
		<td class="translation-cell" onclick="audio12.play()" data-toggle="tooltip" title="Click to hear">Buenas tardes</td>
		<audio id="audio12">
			<source src="audiofiles/12-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Good evening/night</td>
		<td class="translation-cell" onclick="audio13.play()" data-toggle="tooltip" title="Click to hear">Buenas noches</td>
		<audio id="audio13">
			<source src="audiofiles/13-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Goodbye </td>
		<td class="translation-cell" onclick="audio14.play()" data-toggle="tooltip" title="Click to hear">Adiós</td>
		<audio id="audio14">
			<source src="audiofiles/14-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>See you!</td>
		<td class="translation-cell" onclick="audio15.play()" data-toggle="tooltip" title="Click to hear">¡Nos vemos!</td>
		<audio id="audio15">
			<source src="audiofiles/15-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>See you later</td>
		<td class="translation-cell" onclick="audio16.play()" data-toggle="tooltip" title="Click to hear">Hasta luego</td>
		<audio id="audio16">
			<source src="audiofiles/16-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>See you tomorrow</td>
		<td class="translation-cell" onclick="audio17.play()" data-toggle="tooltip" title="Click to hear">Hasta mañana</td>
		<audio id="audio17">
			<source src="audiofiles/17-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Cheers! (for a toast)</td>
		<td class="translation-cell" onclick="audio18.play()" data-toggle="tooltip" title="Click to hear">¡Salud!</td>
		<audio id="audio18">
			<source src="audiofiles/18-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Have a nice meal</td>
		<td class="translation-cell" onclick="audio19.play()" data-toggle="tooltip" title="Click to hear">¡Buen apetito!</td>
		<audio id="audio19">
			<source src="audiofiles/19-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>I don't know</td>
		<td class="translation-cell" onclick="audio20.play()" data-toggle="tooltip" title="Click to hear">No sé</td>
		<audio id="audio20">
			<source src="audiofiles/20-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>I understand</td>
		<td class="translation-cell" onclick="audio21.play()" data-toggle="tooltip" title="Click to hear">Entiendo</td>
		<audio id="audio21">
			<source src="audiofiles/21-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Come again? (when you don't understand or hear)</td>
		<td class="translation-cell" onclick="audio22.play()" data-toggle="tooltip" title="Click to hear">¿Otra vez?</td>
		<audio id="audio22">
			<source src="audiofiles/22-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Please</td>
		<td class="translation-cell" onclick="audio23.play()" data-toggle="tooltip" title="Click to hear">Por favor</td>
		<audio id="audio23">
			<source src="audiofiles/23-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Thank you</td>
		<td class="translation-cell" onclick="audio24.play()" data-toggle="tooltip" title="Click to hear">Gracias</td>
		<audio id="audio24">
			<source src="audiofiles/24-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Thank you very much</td>
		<td class="translation-cell" onclick="audio25.play()" data-toggle="tooltip" title="Click to hear">Muchas gracias</td>
		<audio id="audio25">
			<source src="audiofiles/25-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>No worries/you're welcome</td>
		<td class="translation-cell" onclick="audio26.play()" data-toggle="tooltip" title="Click to hear">De nada</td>
		<audio id="audio26">
			<source src="audiofiles/26-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Do you speak English?</td>
		<td class="translation-cell" onclick="audio27.play()" data-toggle="tooltip" title="Click to hear">¿Hablas inglés?</td>
		<audio id="audio27">
			<source src="audiofiles/27-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Do you speak Spanish?</td>
		<td class="translation-cell" onclick="audio28.play()" data-toggle="tooltip" title="Click to hear">¿Hablas español?</td>
		<audio id="audio28">
			<source src="audiofiles/28-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Yes, a little</td>
		<td class="translation-cell" onclick="audio29.play()" data-toggle="tooltip" title="Click to hear">Sí, un poco</td>
		<audio id="audio29">
			<source src="audiofiles/29-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>How do you say ... in Spanish?</td>
		<td class="translation-cell" onclick="audio30.play()" data-toggle="tooltip" title="Click to hear">¿Cómo se dice ... en español?</td>
		<audio id="audio30">
			<source src="audiofiles/30-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Excuse me (to be let past)</td>
		<td class="translation-cell" onclick="audio31.play()" data-toggle="tooltip" title="Click to hear">Permiso</td>
		<audio id="audio31">
			<source src="audiofiles/31-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Excuse me (for attention)</td>
		<td class="translation-cell" onclick="audio32.play()" data-toggle="tooltip" title="Click to hear">Disculpa</td>
		<audio id="audio32">
			<source src="audiofiles/32-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Sorry!</td>
		<td class="translation-cell" onclick="audio33.play()" data-toggle="tooltip" title="Click to hear">¡Lo siento!</td>
		<audio id="audio33">
			<source src="audiofiles/33-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>How much is this? (cost)</td>
		<td class="translation-cell" onclick="audio34.play()" data-toggle="tooltip" title="Click to hear">¿Cuánto cuesta?</td>
		<audio id="audio34">
			<source src="audiofiles/34-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>Where's the toilet?</td>
		<td class="translation-cell" onclick="audio35.play()" data-toggle="tooltip" title="Click to hear">¿Dónde está el baño?</td>
		<audio id="audio35">
			<source src="audiofiles/35-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
		<td>I don't understand</td>
		<td class="translation-cell" onclick="audio36.play()" data-toggle="tooltip" title="Click to hear">No entiendo</td>
		<audio id="audio36">
			<source src="audiofiles/36-Audio_Track.mp3" type="audio/mpeg">
		Your browser doesn't support audio
		<audio>
	</tr>
	<tr>
			<td>I like …</td>
			<td class="translation-cell" onclick="audio37.play()" data-toggle="tooltip" title="Click to hear">Me gusta …</td>
			<audio id="audio37">
				<source src="audiofiles/37-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>
	<tr>
			<td>Are you thirsty?</td>
			<td class="translation-cell" onclick="audio38.play()" data-toggle="tooltip" title="Click to hear">¿Tienes sed?</td>
			<audio id="audio38">
				<source src="audiofiles/38-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>
	<tr>
			<td>I'm thirsty</td>
			<td class="translation-cell" onclick="audio39.play()" data-toggle="tooltip" title="Click to hear">Tengo sed</td>
			<audio id="audio39">
				<source src="audiofiles/39-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>
	<tr>
			<td>Are you hungry?</td>
			<td class="translation-cell" onclick="audio40.play()" data-toggle="tooltip" title="Click to hear">¿Tienes hambre?</td>
			<audio id="audio40">
				<source src="audiofiles/40-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>
	<tr>
			<td>I'm hungry</td>
			<td class="translation-cell" onclick="audio41.play()" data-toggle="tooltip" title="Click to hear">Tengo hambre</td>
			<audio id="audio41">
				<source src="audiofiles/41-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>
	<tr>
			<td>Do you want more?</td>
			<td class="translation-cell" onclick="audio42.play()" data-toggle="tooltip" title="Click to hear">¿Quieres más?</td>
			<audio id="audio42">
				<source src="audiofiles/42-Audio_Track.mp3" type="audio/mpeg">
			Your browser doesn't support audio
		</audio>
	</tr>




</tbody>
</table>
</div>
